@use '/src/scss/index' as *;
@use '/src/views/Cart/Cart.scss' as *;

.cart-form {
    &__container {
        display: flex;
        flex-direction: row;
        gap: 15em;
    }

    &__first,
    &__second {
        display: flex;
        flex-direction: column;
    }

    &__first {
        width: 50%;
    }

    &__second {
        justify-content: space-between;
        flex-grow: 1;

        h2 {
            text-align: left;
            font-weight: 600;
        }
    }

    &__check {
        font-size: 0.9rem;
        margin-bottom: 2em;

        p {
            margin-bottom: 1em;
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;

        input {
            margin-right: 10px;
        }
    }

    &__info {
        font-size: 0.8rem;
        margin-bottom: 2em;
        color: #94A3B1;
    }

    &__block {
        display: flex;
        flex-direction: column;
    }

    textarea {
        resize: none;
        height: 150px;
    }

    &__buttons {
        @extend .cart__buttons;
    }
}