@use '/src/scss/index' as *;

.offer {
    &__container {
        padding: 2em;
        background: #F0F1F2;

        li {
            display: flex;
            margin-bottom: 3em;
        }

        h4 {
            margin-bottom: 2em;
        }

        & + .carousel {
            padding-top: 5em;
        }
    }

    &__image {
        max-width: 25%;
        margin-right: 2em;
    }

    & + .footer,
    & > .breadcrumbs {
        background: #F0F1F2;
    }
}