@use '/src/scss/index' as *;

.hero {
    display: flex;
    width: 100%;
    height: 80vh;
    justify-content: space-between;
    background-color: #e7e7e7;
    @include max-width($bp-laptop) {
        height: auto;
    }
    @include max-width($bp-mobile) {
        flex-direction: column-reverse;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 60%;
        padding: 5em 2em;
        @include max-width($bp-mobile) {
            padding: 3em 2em;
            width: auto;
            align-items: center;
        }
    }

    &__logo {
        width: 410px;
        height: 98px;
        margin-bottom: 2em;
        @include max-width($bp-laptop) {
            width: 205px;
            height: 49px;
            margin-bottom: 1em;
        }
    }

    &__image {
        max-width: 790px;
    }

    /* About */

    .about &__content {
        @include max-width($bp-laptop) {
            font-size: 0.8rem;
        }
    }

    &__title {
        font-size: 4.5rem;
        font-weight: 500;
        margin-bottom: 0.2em;
    }

    &__sub-title {
        font-weight: 400;
    }

    /**/
}