.header {
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;

    &__logo {
        border: 2px solid #a885ff;
        border-radius: 6px;
        height: 64px;
        width: 64px;
    }

    &__nav {
        display: flex;
        align-items: center;
    }

    &__links {
        display: flex;
        gap: 16px;
    }
}