@use '/src/scss/index' as *;

.steps {
    margin-bottom: 2em;

    ul {
        display: flex;
        justify-content: center;

        li {
            position: relative;
            display: flex;
            align-items: center;
            font-weight: 500;

            b {
                position: absolute;
                left: 31px;
            }

            span {
                margin: 0 1.5em 0 1em;
                font-weight: 600;
            }
        }
    }

    &__circle {
        height: 70px;
        width: 70px;
        margin-right: 10px;
    }

    &__check {
        position: absolute;
        height: 20px;
        width: 20px;
        left: 25px;
    }
}